
/** HEADER **/
#header-nav  {
  background-color: gray;
  border-radius: 0;
  border: 2px solid black;
}

.navbar-brand, h1 { /* Restaurant name */
  font-family: "Comic Sans MS", "cursive", "sans-serif";
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 10px;
  margin-bottom: 0px;
  line-height: 0;
  padding-bottom: 20px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid black;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -50px;
}

#nav-list a {
  color: black;
  text-align: center;
  background-color: white;
  padding-top: 0;
  border-bottom: 2px solid black;
}

#collapsable-nav a {
	font-size: 1.2em;
	background-color: white;
}


/** BODY **/
h2 {
	font-family: "Comic Sans MS", "cursive", "sans-serif";
	padding-bottom: 20px;
}
h3 {
	font-family: "Comic Sans MS", "cursive", "sans-serif";
	text-align: center;
}

#Chicken {
	background-color: pink;
	margin: 15px;
}

#Sushi {
	background-color: #f6b319;
	margin: 15px;

}

#Beef {
	background-color: yellow;
	margin: 15px;
}