
/** HEADER **/
#header-nav  {
  background-color: gray;
  border-radius: 0;
  height: 80px;
  margin-bottom: 0px;
  border-bottom-width: 0px;
  border: 2px solid black;
  
}

.navbar-brand, h1 { /* Restaurant name */
  font-family: "Comic Sans MS", "cursive", "sans-serif";
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 10px;
  margin-bottom: 0px;
  line-height: 0;
  padding-bottom: 20px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid black;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -50px;
}

#nav-list  a {
  color: black;
  text-align: center;
  background-color: #add8e6;
  padding-top: 0;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 2px solid black;
  font-size: 1.2em;
  margin-top: -9px;
}



/** BODY **/
h2 {
	font-family: "Comic Sans MS", "cursive", "sans-serif";
	padding-bottom: 20px;
}
h3 {
	font-family: "Comic Sans MS", "cursive", "sans-serif";
	text-align: center;
}

#Chicken {
	background-color: pink;	
	margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

#Sushi {
	background-color: #f6b319;
	margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}


#Beef {
	background-color: yellow;
	margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
